# Copy this file to .env and fill in your Binance Futures Testnet credentials.
# Get them at: https://testnet.binancefuture.com

BINANCE_API_KEY=3BS6tgZxWnZ0JDECuVsQSGyPQtWDmCXOfl4IHF4HFKqD0sRcSzPwh6jdbUdEltjV
BINANCE_API_SECRET=QmWWcrQlUTiReq9kTYWG1YiJ4K0lIg6UYTucpOngqk3HsW8raF1FFSzKVUeaBefm
